<!--<h1>Tạo sản phẩm mới</h1>-->
<!--<form >-->
<!--  <table>-->
<!--    <tr>-->
<!--      <td>Mã sản phẩm:</td>-->
<!--      <td></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Tên sản phẩm:</td>-->
<!--      <td><input type="text" formControlName="name"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Giá sản phẩm</td>-->
<!--      <td><input type="number" formControlName="price"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Mô tả về sản phẩm</td>-->
<!--      <td><input type="text" formControlName="description"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td></td>-->
<!--      <td><button>Tạo mới</button></td>-->
<!--    </tr>-->
<!--  </table>-->
<!--</form>-->

<h1>Tạo sản phẩm mới</h1>
<form [formGroup]="productForm" (ngSubmit)="submit()">
  <div class="form-group">
    <label>Name</label>
    <input type="number" formControlName="name">
  </div>
  <div class="form-group">
    <label>Price</label>
    <input type="number" formControlName="price">
  </div>
  <div class="form-group">
    <label>Description</label>
    <textarea formControlName="description"  class="form-control"  placeholder="description"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
